/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* font-family: 'Source Sans 3', sans-serif; 
600, 400, 300

*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

.logo {
    width: 150px;

 }

h1{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 25px;
}

h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding: 35px;
    text-align: center;
    text-transform: uppercase;
}



nav {
    display: flex; 
    background-color: #540B51;
    justify-content: space-between;
    align-items: center;
    height: 1em;
    padding: 40px;

}

header div p strong{
    color: #ECB12F;
     font-family: 'Source Sans 3', sans-serif;

}

header div p {
    font-size: 2em;
    margin-bottom: 28px;
    font-family: 'Source Sans 3', sans-serif;
}


.nav-button img{
    width: 50px;
    background-color: #540B51;
    border: #540B51;
}

.hidden{
    display: none;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #540B51;
    color: white;
}

.google-button {
    background-color: #4285F4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
    

}



.div {
    width: 70px;
    
}

.google-logo{
    width: 2em;
    border-radius: 3px;
    background-color: white;
    padding: 1em;
    margin-left: 10px;
    
}

header div button{
    width: 80vw; 
    height: 10vh; 
    margin: 10px;
    font-size: 2em;
    font-family: 'Source Sans 3', sans-serif;

}

header div button span {
    font-family: 'Source Sans 3', sans-serif;
}

.hero {
    width: 500px;
    overflow: hidden;
}

.hero-first{
    width: 1000px;
    overflow: hidden;
    margin-top: 30px;
    
}



header div img {
    height: 100%;
    clip-path: inset(0px 200px 100px 0px);
    margin-left: 150px;
}

main {
    background-color: #F3EAE2;
    font-family: 'Source Sans 3', sans-serif;
    
}


.brands{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
}

.images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    

}

main section div .brands-images {
    max-width: 25%;
}


.team-choose-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vw;
   
}

.choose{
    display: flex;
    justify-content: end;
}

.team-choose-move a{
    text-decoration: none;
    color: #2E71A6;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    
}

.main-p {
    font-size: 30px;
    line-height: 40px;
}

section div .links {
    
}


.speed {
    width: 500px;
}

footer {
    display: flex;
    flex-direction: column;
    
}

.slack-img-footer {
    width: 50px;
}

.why {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
}

footer div ul {
    list-style-type: none;
}

@media (min-width: 768px) and (max-width: 999px)





















